@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-slate-900 text-slate-100 font-sans;
  }
}

@layer components {
  .section-title {
    @apply text-3xl md:text-4xl font-bold text-slate-900 dark:text-white mb-4;
  }

  .section-subtitle {
    @apply text-slate-600 dark:text-gray-400 max-w-2xl mx-auto text-sm md:text-base;
  }
}
